@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html{
    scroll-behavior: smooth;
}
/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

;*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

/* links */
a {
    text-decoration: none  ;
}

p {
    margin: 0.75rem 0;
}

/* utility classes */
.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color:#743f74;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}



.l-heading{
    font-size: 4rem; /* brad used 4 here*/
    margin-bottom: 0.75em;
    line-height: 1.1;
}

.m-heading{
    font-size: 2rem; 
    margin-bottom: 0.75em;
    line-height: 1.1;
}
.lead {
    font-size: 1.3rem;  /* brad used 1.3 here*/
    margin-bottom: 2 rem;
}

/* padding */
.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.btn {
    display: inline-block;
    margin-bottom: 2 rem; 
    color: #fff;
    background: #512C51;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #856B85;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.bg-primary {
    background: rgb(165, 93, 165);
    color: #fff;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
padding: 0.5rem 0;
border-bottom: #444 dotted 1px;
}

/*nav bar */
.navbar {
    background: #333;
    padding: 15px 0px;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
  }
  
  .nav-align {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar button {
    display: none;
  }

/* =======================
        Hamburger Start 
   ========================
*/

.hamburger {
    margin: 0;
    border: 0;
    background-color: transparent;
    position: relative;
  }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    border-radius: 2px;
    position: absolute;
  }
  
  .hamburger-inner {
    top: 50%;
  }
  .hamburger-inner:before {
    content: '';
    top: -10px;
  }
  .hamburger-inner::after {
    content: '';
    bottom: -10px;
  }
  
  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 0.1s linear;
  }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      opacity 0.1s 0.22s linear;
  }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
      transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  /* =======================
          Hamburger end 
     ========================
  */
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
    transition: all ease-in 300ms;
  }
  .navbar .logo {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin-right: auto;
  }
  .navbar a {
    color: white;
    white-space: nowrap;
  }
  
  .nav-item:not(:last-of-type) {
    margin-right: 10px;
  }
  
  .navbar .nav-link {
    transition: all ease-in 300ms;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .navbar .nav-link:hover {
    background-color: #0c0c0c;
    /* shorthand */
    transition: all ease-out 300ms;
  }
  
  .navbar .nav-link:active,
  .nav-link:focus {
    color: #512C51;
    background-color: #0c0c0c;
    transition: all ease-out 300ms;
  }
  
  @media (max-width: 768px) {
    .navbar button {
      display: inline-block;
    }
    .nav-align {
      align-items: baseline;
    }
    .nav-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .navbar-collapse {
      height: 0px;
      overflow: hidden;
      transition: height ease-in 300ms;
    }
    .navbar ul {
      display: block;
    }
  
    .navbar-collapse.show {
      max-height: 350px;
      transition: max-height ease-out 500ms;
    }
  
    .navbar .nav-link {
      font-size: 20px;
    }
  
    .container {
      max-width: 740px;
    }
  }
  
  @media (max-width: 425px) {
    .container {
      max-width: 100%;
    }
  }
  




/* Navbar
#navbar{
    display: flex;
    position: sticky;
    top:0;
    background: #333;
    color: white;
    justify-content: space-between ;
    z-index: 1;
    padding: 1rem;
    height: 80px;
    width: 100%;
}
 */

/* #navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
   color: #fff;  
   padding: 0.75rem;  
   margin: 0 0.25rem;
}

#navbar ul li a:hover {
   background: #512C51;
   border-radius: 5px; 
}  */

/* @media (max-width: 770px){
    #navbar ul{
        display: none;
        
    }
} */

/* Showcase */
#showcase{
    background: #333 url('../img/bg_03.png') 
    no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    /* position: relative; */
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* overlay */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0,6);
}

/* Section: what I do */

#what .items {
  display: flex;
  padding: 1rem;
}

.item {
    flex: 1;
    text-align: center;
    padding: 1rem;

}

/* for the icons in the what  section */
#what .items .item i {
    background: #743f74;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section :About me */

#who {
    display: flex;

}

#who div {
    flex: 1; 
}

#who .who-img {
    background: url('../img/Sophia.jpg') no-repeat center center/cover;
}
  /* #who .skills{
    display: flex;
  } */

/* My projects */
#projects .items {
    display: flex;
}

#projects .items img {
    display: block;
    margin: auto ;
    width: 60%;
}

/* Section: contact */
#contact {
    display: flex;

}
 
 #contact .contact-img, #contact .contact-form{

    flex: 1;
    flex-basis: 50%;
}

#contact .contact-form .form-group {
    
    margin: 0.75rem;
}

#contact .contact-form label{
    display: block;  
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;

}
#contact .contact-img {
    background: url('../img/bg_02.jpg') no-repeat center center/cover;
}

 /* Testimonials */


#testimonials .items {
    display: flex;
}

#testimonials .items img {
    display: block;
    margin: auto ;
    width: 60%;
}


.stat-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}





/* moments*/

/* .img-items{
    padding: 2rem;
    borde #ccc 1px solid ;

} */

    /* .grid{
        display: grid;
    grid-template-columns: 1fr 1fr;
    } */
    




